<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Sin imagen">
        </div>
        <div>
            <form action ="">
                <input type = "text">
                <button>Buscar</button>
            </form>
        </div>
        <p>Compra en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a>Ofertas</a></li>
            <li><a>Tiendas Oficiales</a></li>
            <li><a>Vender</a></li>
            <li><a>Ayuda</a></li>      
        </ul>

        <ul>
            <li><a>Creá tu cuenta</a></li>
            <li><a>Ingresá</a></li>
            <li><a>Mis compras</a></li>   
        </ul>
    </header>
    <main>
        <header>
            <img src="" alt="">
        </header>
    </main>
</body>
</html>