<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/0c10d8352a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>

    <header class="header_principal">
        <div class="contenedor">
            <div class="header_principal_logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Sin imagen">
            </div>
            <div class="header_principal_buscador">
                <input type=" Buscar productos, marcas y más" id=" Buscar productos, marcas y más"
                    placeholder=" Buscar productos, marcas y más" />
                <button><span class="icon"><i class="fa fa-search"></i></span></button>
            </div>
            <div class="header_principal_texto">
                <p>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <b>En cuotas y sin tarjeta de crédito </b>
                </p>
            </div>
        </div>

        <div class="contenedor_2">
            <div class="subcontenedor">
                <ul class="header_principal_lista2" style="list-style: none;">
                    <div class="contenedor_de_lista">
                        <div>
                            <li><a>Ofertas</a></li>
                        </div>
                        <div>
                            <li><a>Tiendas Oficiales</a></li>
                        </div>
                        <div>
                            <li><a>Vender</a></li>
                        </div>
                        <div>
                            <li><a>Ayuda</a></li>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="subcontenedor">
                <ul class="header_principal_lista1" style="list-style: none;">
                    <div class="contenedor_de_lista">
                        <div>
                            <li><a href="./register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                        </div>
                        <div>
                            <li><a href="./login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                        </div>
                        <div>
                            <li><a>Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <button class="burger-menu">
            <i class="fas fa-bars"></i>
        </button>

    </header>

    <div class="header_secundario">
        <img src="/images/img-home-banner.jpg" alt="Sin imagen">
    </div>

    <main class="main_principal">

        <section class="main_section_1">

            <p class="main_section_vistas"><b> Basado en tu última visita </b></p>

            <div class="main_section_vistas_container">
                <div>
                    <article class="main_section_articulos">
                        <div class="articulos">
                            <img src="/images/img-cafetera-moulinex.jpg" alt="Sin imagen">
                            <p class="informacion_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion">
                                <div>
                                    <p class="producto_precio"><b>$6.770</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento"><b>40% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre"><b> Cafetera Moulinex </b></p>
                        </div>
                    </article>
                </div>
                <div>
                    <article class="main_section_articulos">
                        <div class="articulos">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="Sin imagen">
                            <p class="informacion_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion">
                                <div>
                                    <p class="producto_precio"> <b>$230.000</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento"><b>20% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre"><b> MacBook Pro 2019</b></p>
                        </div>
                    </article>
                </div>
                <div>
                    <article class="main_section_articulos">
                        <div class="articulos">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Sin imagen">
                            <p class="informacion_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion">
                                <div>
                                    <p class="producto_precio"><b>$70.500</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento"><b>10% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre"><b>Samsung Galaxy S10 </b></p>
                        </div>
                    </article>
                </div>
                <div>
                    <article class="main_section_articulos">
                        <div class="articulos">
                            <img src="/images/img-tv-samsung-smart.jpg" alt="Sin imagen">
                            <p class="informacion_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion">
                                <div>
                                    <p class="producto_precio"><b>$23.200</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento"><b>5% OFF </b></p>
                                </div>
                            </div>
                            <p class="producto_nombre"><b>SmartTv Samsung 43"</b></p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="main_section_2">

            <p class="main_section_ofertas"><b> Ofertas</b></p>

            <div class="main_section_vistas_container">
                <div>
                    <article class="main_section_articulos_of">
                        <div class="articulos">
                            <img src="/images/img-cafetera-moulinex.jpg" alt="Sin imagen">
                            <p class="informacion_2_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion_2">
                                <div>
                                    <p class="producto_precio_of"><b>$6.770</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento_of"><b>40% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre_of"><b> Cafetera Moulinex </b></p>
                        </div>
                    </article>
                </div>
                <div>
                    <article class="main_section_articulos_of">
                        <div class="articulos">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="Sin imagen">
                            <p class="informacion_2_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion_2">
                                <div>
                                    <p class="producto_precio_of"><b>$230.000</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento_of"><b>20% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre_of"><b> MacBook Pro 2019</b></p>
                        </div>
                    </article>
                </div>
                <div>
                    <article class="main_section_articulos_of">
                        <div class="articulos">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Sin imagen">
                            <p class="informacion_2_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion_2">
                                <div>
                                    <p class="producto_precio_of"><b>$70.500</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento_of"><b>10% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre_of"><b>Samsung Galaxy S10 </b></p>
                        </div>
                    </article>
                </div>
                <div>
                    <article class="main_section_articulos_of">
                        <div class="articulos">
                            <img src="/images/img-tv-samsung-smart.jpg" alt="Sin imagen">
                            <p class="informacion_2_icono"><i class="fa-solid fa-truck"></i></p>
                            <div class="informacion_2">
                                <div>
                                    <p class="producto_precio_of"><b>$23.200</b></p>
                                </div>
                                <div>
                                    <p class="producto_descuento_of"><b>5% OFF</b></p>
                                </div>
                            </div>
                            <p class="producto_nombre_of"><b>SmartTv Samsung 43"</b></p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer_container">
            <div>
                <p class="footer_icono"><i class="fa-solid fa-credit-card"></i></p>
                <p class="footer_titulo"><b>Pagá con tarjeta o en efectivo</b></p>
                <p class="footer_texto">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div>
                <p class="footer_icono"><i class="fa-solid fa-gift"></i></p>
                <p class="footer_titulo"><b>Envío gratis desde $ 2.500 </b></p>
                <p class="footer_texto">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div>
                <p class="footer_icono"><i class="fa-solid fa-user-shield"></i></p>
                <p class="footer_titulo"><b> Seguridad, de principio a fin</b></p>
                <p class="footer_texto">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <p class="footer_copyright" align="center"><b>Copyright © 1999-2020 MercadoLiebre S.R.L. </b></p>
    </footer>

</body>

</html>