<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>

    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Sin imagen">
        </div>
        <div>
            <form action="">
                <input type="text">
                <button>Buscar</button>
            </form>
        </div>
        <p>Compra en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a>Ofertas</a></li>
            <li><a>Tiendas Oficiales</a></li>
            <li><a>Vender</a></li>
            <li><a>Ayuda</a></li>
        </ul>

        <ul>
            <li><a>Creá tu cuenta</a></li>
            <li><a>Ingresá</a></li>
            <li><a>Mis compras</a></li>
        </ul>

    </header>

 
    <main>
        <header>
            <img src="/images/img-home-banner.jpg" alt="Sin imagen">
        </header>
        <section>

            <p><b> Basado en tu última visita </b></p>

            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Sin imagen">
                    <p><b> Cafetera Moulinex </b></p>
                    <br> $6.770</br>
                    <br>40% OFF </br>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Sin imagen">
                    <p><b> MacBook Pro 2019</b></p>
                    <br>$230.000</br>
                    <br>20% OFF</br>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Sin imagen">
                    <p><b>Samsung Galaxy S10 </b></p>
                    <br>$70.500</br>
                    <br>10% OFF </br>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Sin imagen">
                    <p><b>SmartTv Samsung 43"</b></p>
                    <br> $23.200</br>
                    <br>5% OFF </br>
                </div>
            </article>

        </section>

        <section>

            <p><b> Ofertas</b></p>

            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Sin imagen">
                    <p><b> Cafetera Moulinex </b></p>
                    <br> $6.770</br>
                    <br>40% OFF </br>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Sin imagen">
                    <p><b> MacBook Pro 2019</b></p>
                    <br>$230.000</br>
                    <br>20% OFF</br>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Sin imagen">
                    <p><b>Samsung Galaxy S10 </b></p>
                    <br>$70.500</br>
                    <br>10% OFF </br>
                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Sin imagen">
                    <p><b>SmartTv Samsung 43"</b></p>
                    <br> $23.200</br>
                    <br>5% OFF </br>
                </div>
            </article>

        </section>
    </main>

    <footer>
        <p align="center"><b>Pagá con tarjeta o en efectivo</b></p>
        <p align="center">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>

        <p align="center"><b>Envío gratis desde $ 2.500 </b></p>
        <p align="center" >
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. 
        </p>

        <p align="center" ><b> Seguridad, de principio a fin</b></p>
        <p align="center">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.  
        </p>

        <p align="center"><b>Copyright © 1999-2020 MercadoLiebre S.R.L. </b></p>
    </footer>

</body>

</html>