/*GENERAL*/

body {
 background-color:  #ebebeb ;
 margin: 0%;
}

p {
  font-family:'Roboto', sans-serif;
}

ul {
  font-family: 'Roboto', sans-serif; 
  font-size: 12px;
  padding-left: 2%;
}


/*HEADER*/

.header_principal{
  background-color: #EAC926;
  width: 150%;
}

.header_principal_logo{
  margin-left: 12%;
  margin-right: 12%;
  width: 200px;
  padding-top: 3%;
}

.header_principal_buscador {
  margin-left: 9%;
  margin-top: 4%;
  
}

.header_principal_texto{
  font-size: 12px;
  margin-top: 2%;
  padding-left: 13%;;
}

.burger-menu{
 margin-left: 145px;
 margin-bottom: 12px;
 background-color: #0044aa;
 color: #ebebeb;
 font-size: 20px;
 border-color:#0044aa ;
 border-radius: 25%;
 height: 35px;
 width: 35px;
}


/*MAIN*/

/*Seccion de Vistas*/

.main_section_vistas{
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}


.main_section_1_art_1 p{
  text-align: center;
}
.producto1{
  font-size: 16px;
}
.precio_cafetera{
  font-size: 18px;
}
.descuento_cafetera{
  font-size: 16px;
  color:#39b54a;
}


.main_section_1_art_2 p{
  text-align: center;
  font-size: 16px;
}
.producto2{
  font-size: 16px;
}
.precio_macbook{
  font-size: 18px;
}
.descuento_macbook{
  font-size: 16px;
  color:#39b54a;
}


.main_section_1_art_3 p{
  text-align: center;
  font-size: 16px;
}
.producto3{
  font-size: 16px;
}
.precio_galaxy{
  font-size: 18px;
}
.descuento_galaxy{
  font-size: 16px;
  color:#39b54a;
}


.main_section_1_art_4 p{
  text-align: center;
  font-size: 16px;
}
.producto4{
  font-size: 16px;
}
.precio_tv{
  font-size: 18px;
}
.descuento_tv{
  font-size: 16px;
  color:#39b54a;
}

/*Seccion de Ofertas*/

.main_section_ofertas{
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
}

.main_section_2_art_1 {
  text-align: center;
  font-size: 16px;
}
.producto1a{
  font-size: 16px;
}
.precio_cafetera2{
  font-size: 18px;
}
.descuento_cafetera2{
  font-size: 16px;
  color:#39b54a;
}


.main_section_2_art_2 p{
  text-align: center;
  font-size: 16px;
}
.producto2a{
  font-size: 16px;
}
.precio_macbook2{
  font-size: 18px;
}
.descuento_macbook2{
  font-size: 16px;
  color:#39b54a;
}


.main_section_2_art_3 p{
  text-align: center;
  font-size: 16px;
}
.producto3a{
  font-size: 16px;
}
.precio_galaxy2{
  font-size: 18px;
}
.descuento_galaxy2{
  font-size: 16px;
  color:#39b54a;
}


.main_section_2_art_4 p{
  text-align: center;
  font-size: 16px;
}
.producto4a{
  font-size: 16px;
}
.precio_tv2{
  font-size: 18px;
}
.descuento_tv2{
  font-size: 16px;
  color:#39b54a;
}


/*FOOTER*/

footer {
  background-color: white;
  padding-top: 52px;
  padding-bottom: 20px;
}

footer p{
  font-size: 16px;
  text-align: center;
}

.footer_icono{
  color:#0044aa ;
  font-size: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
  
}

.footer_titulo{
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #666;
}

.footer_texto{
  font-size: 14px;
  text-align: center;
  margin: 5px 20px 40px 20px;
  color: #666
}

.footer_copyright {
 font-size: 12px;
 color: #666;
 margin-bottom: 0px;
}